<div class="bg-gray-900 text-white h-screen flex flex-col">
  <!-- Your app logo or title -->
  <div class="p-4 text-xl font-bold">EWallet</div>

  <!-- Navigation links -->
  <div class="flex-1 overflow-y-auto">
    <a [routerLink]="['/dashboard', { outlets: { contentOutlet: ['search'] } }]" class="block py-2 px-4 hover:bg-gray-700">Search</a>
    <a [routerLink]="['/dashboard', { outlets: { contentOutlet: ['friend'] } }]" class="block py-2 px-4 hover:bg-gray-700">Friends</a>
    <a [routerLink]="['/dashboard', { outlets: { contentOutlet: ['request'] } }]" class="block py-2 px-4 hover:bg-gray-700">Requests</a>
    <a [routerLink]="['/dashboard', { outlets: { contentOutlet: ['chat'] } }]" class="block py-2 px-4 hover:bg-gray-700">Chats</a>
    <!-- Add more links as needed -->
  </div>
</div>
