<div class="bg-gradient-to-r from-blue-200 to-blue-100 py-8 px-6 rounded-lg shadow-md">
  <h2 class="text-3xl font-bold text-blue-900 mb-4">User Information</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 text-blue-800">
    <div class="flex items-center">
      <span class="font-semibold mr-2">Username:</span>
      <span>{{ principal.username }}</span>
    </div>
    <div class="flex items-center">
      <span class="font-semibold mr-2">Name:</span>
      <span>{{ principal.firstName }} {{ principal.middleName }} {{ principal.lastName }}</span>
    </div>
    <!-- Include additional user information as needed -->
  </div>
  <button class="mt-6 bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-6 rounded focus:outline-none focus:shadow-outline transition duration-300 ease-in-out"
          (click)="onLogout()">
    Logout
  </button>
</div>
