<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full bg-blue-100 rounded-lg shadow-md p-8 space-y-6 flex flex-col items-center">
    <div class="flex items-center space-x-2 flex-col">
      <h2 class="text-3xl font-extrabold text-gray-900">Deposit Funds</h2>
      <span class="text-gray-500">({{ wallet.wallet_name }})</span>
    </div>

    <div class="flex justify-between items-center w-full">
      <span class="text-lg font-semibold">Current Balance:</span>
      <span class="text-lg font-semibold">{{ wallet.balance| currency: 'PHP': 'symbol': '1.2-3'}}</span>
    </div>
    <form class="w-full space-y-4 flex flex-col items-center" [formGroup]="depositForm" (ngSubmit)="onSubmit()">
      <div class="flex flex-col w-full">
        <input id="amount" name="amount" type="number" formControlName="amount" required
          class="input-field mb-4"
          placeholder="Amount">
        <input id="deposit_desc" name="deposit_desc" type="text" formControlName="deposit_desc" required
          class="input-field mb-4"
          placeholder="Description">
      </div>
      <div *ngIf="errorMessage" class="text-red-600 text-sm">{{ errorMessage }}</div>
      <div class="flex space-x-4">
        <button type="submit" class="deposit-btn bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md shadow-md focus:outline-none focus:ring focus:ring-blue-300">
          Deposit
        </button>
        <button (click)="openCancelConfirmationDialog()" class="cancel-btn bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded-md shadow-md focus:outline-none focus:ring focus:ring-gray-300">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
