<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8 bg-image">
  <div class="max-w-md w-full bg-white rounded-lg shadow-md p-8 space-y-6">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
      Log in to your account
    </h2>
    <form class="mt-8 space-y-6" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <input id="username" name="username" type="text" formControlName="username" required
            class="input-field"
            placeholder="Username">
        </div>
        <div>
          <input id="password" name="password" type="password" formControlName="password" required
            class="input-field"
            placeholder="Password">
        </div>
      </div>
      <div *ngIf="errorMessage" class="mt-2 text-red-600 text-sm">
        {{ errorMessage }}
      </div>
      <div>
        <button type="submit"
          class="submit-btn">
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <svg class="h-5 w-5 text-blue-500 group-hover:text-blue-400" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M4 5a1 1 0 011-1h10a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zm10 2V4H5v3h9zM4 9a1 1 0 011-1h10a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V9zm10 2V8H5v3h9zM4 13a1 1 0 011-1h10a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1v-2zm10 2v-1H5v1h9z"
                clip-rule="evenodd" />
            </svg>
          </span>
          Login
        </button>
      </div>
    </form>
    <div class="register-link-container">
      <span class="text-gray-600">Create an account? </span>
      <a [routerLink]="['/register']" class="text-blue-500 hover:underline">Register</a>
    </div>
  </div>
</div>
