<video autoplay muted loop id="bgVideo">
  <source src="../../../assets/bg1.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>

<div class="h-screen flex justify-center items-center flex-row">
  <div class="bg-white rounded-lg shadow-md p-10">
    <mat-progress-bar class="w-full" mode="indeterminate" *ngIf="showProgressBar"></mat-progress-bar>
    <h2 class="text-center font-extrabold text-3xl">Login to your account</h2>
    <form class="mt-8 space-y-6" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="rounded-md shadow-sm -space-y-px">
        <mat-form-field class="w-full">
          <mat-label class="text-gray-700">Username</mat-label>
          <input type="text" matInput [formControl]="username" [errorStateMatcher]="matcher"
            placeholder="Ex. JohnDoe" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm ">
          <mat-error *ngIf="username.hasError('required')" class="text-red-600">Username is <strong>required</strong></mat-error>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label class="text-gray-700">Password</mat-label>
          <input type="password" matInput [formControl]="password" [errorStateMatcher]="matcher"
            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm ">
          <mat-error *ngIf="password.hasError('required')" class="text-red-600">Password is <strong>required</strong></mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="errorMessage" class="mt-2 text-red-600 text-sm">
        {{ errorMessage }}
      </div>
      <div>
        <button type="submit" *ngIf="showSubmitButton" [disabled]="!loginForm.valid" class="submit-btn"
          [ngClass]="{'submit-btn-enabled': loginForm.valid, 'submit-btn-disabled': !loginForm.valid}">
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <svg class="h-5 w-5 text-blue-500 group-hover:text-blue-400" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M4 5a1 1 0 011-1h10a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zm10 2V4H5v3h9zM4 9a1 1 0 011-1h10a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V9zm10 2V8H5v3h9zM4 13a1 1 0 011-1h10a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1v-2zm10 2v-1H5v1h9z"
                clip-rule="evenodd" />
            </svg>
          </span>
          Login
        </button>
      </div>
      <div class="register-link-container">
        <span class="text-gray-600">Create an account? </span>
        <a [routerLink]="['/register']" class="text-blue-500 hover:underline">Register</a>
      </div>
    </form>
  </div>
</div>

