<div class="bg-black text-white p-8 rounded-lg">
  <mat-progress-bar class="w-full" mode="indeterminate" *ngIf="showProgressBar"></mat-progress-bar>

  <div class="max-w-md mx-auto">
    <div class="text-center mb-6">
      <h1 class="text-2xl font-bold">Transfer Fund</h1>
    </div>

    <div class="flex gap-3">
      <button class="bg-gray-800 hover:bg-gray-700 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline-gray" (click)="onOwnClick()">
        Own Wallet
      </button>

      <button class="bg-gray-800 hover:bg-gray-700 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline-gray" (click)="onFriendWalletClick()">
        Friend's Wallet
      </button>

      <button class="bg-gray-800 hover:bg-gray-700 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline-gray" (click)="onOtherClick()">
        Other User's Wallet
      </button>
    </div>
  </div>
</div>

<router-outlet name="transferFundOutlet"></router-outlet>

<!-- <div *ngIf="errorMessage" class="text-red-600 text-sm">{{ errorMessage }}</div>

<div *ngIf="isOwnWalletClicked">
  <div class="flex w-full justify-around">
    <div *ngIf="wallets.length > 1" class="flex flex-col w-full m-2">
      <div>
        <h1 class="text-white">Transfer To:</h1>
      </div>
      <div *ngFor="let wallet of wallets" class="wallet-container bg-gray-800 rounded-lg shadow-md m-1 p-4">
        <div class="p-6">
          <div class="text-lg font-semibold mb-4 text-white">{{ wallet.wallet_name }}</div>
          <div class="border-t border-blue-200 pt-4">
            <div class="mb-2">
              <span class="font-semibold text-white">Balance:</span>
              <span class="text-white">{{ wallet.balance | currency: 'PHP': 'symbol': '1.2-3'}}</span>
            </div>
            <div>
              <span class="font-semibold text-white">Wallet Description:</span>
              <span class="text-white">{{ wallet.wallet_desc }}</span>
            </div>
          </div>
          <div class="flex justify-between mt-4">
            <button
            *ngIf="wallet.wallet_id !== transferFromId"
            (click)="onFromSelect(wallet.wallet_id)"
            [disabled]="wallet.wallet_id === transferToId"
            class="action-btn bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md shadow-md focus:outline-none focus:ring focus:ring-blue-300">
              Select
            </button>
            <button
            *ngIf="wallet.wallet_id === transferFromId"
            (click)="onDeselectFrom()"
            class="action-btn bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md shadow-md focus:outline-none focus:ring focus:ring-blue-300">
              Deselect
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="wallets.length > 1" class="flex flex-col w-full m-2">
      <div>
        <h1 class="text-white">Transfer To:</h1>
      </div>
      <div *ngFor="let wallet of wallets" class="wallet-container bg-gray-800 rounded-lg shadow-md m-1 p-4">
        <div class="p-6">
          <div class="text-lg font-semibold mb-4 text-white">{{ wallet.wallet_name }}</div>
          <div class="border-t border-blue-200 pt-4">
            <div class="mb-2">
              <span class="font-semibold text-white">Balance:</span>
              <span class="text-white">{{ wallet.balance | currency: 'PHP': 'symbol': '1.2-3'}}</span>
            </div>
            <div>
              <span class="font-semibold text-white">Wallet Description:</span>
              <span class="text-white">{{ wallet.wallet_desc }}</span>
            </div>
          </div>
          <div class="flex justify-between mt-4">
            <button
            *ngIf="wallet.wallet_id !== transferToId"
            (click)="onToSelect(wallet.wallet_id)"
            [disabled]="wallet.wallet_id === transferFromId"
            class="action-btn bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md shadow-md focus:outline-none focus:ring focus:ring-blue-300">
              Select
            </button>
            <button
            *ngIf="wallet.wallet_id === transferToId"
            (click)="onDeselectTo()"
            class="action-btn bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md shadow-md focus:outline-none focus:ring focus:ring-blue-300">
              Deselect
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="wallets.length < 2" class="text-white"><h1>Must Have 2 Wallets</h1></div>
</div>

<form *ngIf="(transferFromId !== 0 && transferToId !== 0)" class="w-full space-y-4 flex flex-col items-center" [formGroup]="ownWalletForm" (ngSubmit)="onOwnWalletSubmit()">
  <div class="flex flex-col w-full">
    <mat-form-field class="example-full-width">
      <mat-label class="text-gray-800">Amount</mat-label>
      <input type="number" matInput [formControl]="amount" [errorStateMatcher]="matcher" placeholder="Ex. 1000.00" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm text-white">
      <mat-error *ngIf="amount.hasError('required')" class="text-red-600">Amount is <strong>required</strong></mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label class="text-gray-800">Note (optional)</mat-label>
      <input type="text" matInput [formControl]="note" [errorStateMatcher]="matcher" placeholder="Ex. Weekly Allowance" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm text-white">
    </mat-form-field>
  </div>

  <div *ngIf="errorMessage" class="text-red-600 text-sm">{{ errorMessage }}</div>

  <div class="flex space-x-4">
    <button type="submit" *ngIf="showSubmitButton" [disabled]="!ownWalletForm.valid" class="btn-black submit-btn">
      Transfer
    </button>
    <button type="button" class="btn-gray cancel-btn">
      Cancel
    </button>
  </div>
</form> -->
