<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full bg-blue-100 rounded-lg shadow-md p-8 space-y-6 flex flex-col items-center">
    <div class="flex items-center space-x-2 flex-col">
      <mat-progress-bar class="w-full" mode="indeterminate" *ngIf="showProgressBar"></mat-progress-bar>
      <h2 class="text-3xl font-extrabold text-gray-900">Withdraw Funds</h2>
      <span class="text-gray-500">({{ wallet.wallet_name }})</span>
    </div>

    <div class="flex justify-between items-center w-full">
      <span class="text-lg font-semibold">Remaining Balance:</span>
      <span class="text-lg font-semibold">{{ wallet.balance| currency: 'PHP': 'symbol': '1.2-3'}}</span>
    </div>
    <form class="w-full space-y-4 flex flex-col items-center" [formGroup]="withdrawForm" (ngSubmit)="onSubmit()">
      <div class="flex flex-col w-full">
        <mat-form-field class="example-full-width">
          <mat-label class="text-gray-700">Amount</mat-label>
          <input type="number" matInput [formControl]="amount" [errorStateMatcher]="matcher"
            placeholder="Ex. 1000.00" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm ">
          <mat-error *ngIf="amount.hasError('required')" class="text-red-600">Amount is <strong>required</strong></mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label class="text-gray-700">Withdraw Description</mat-label>
          <input type="text" matInput [formControl]="withdraw_desc" [errorStateMatcher]="matcher"
            placeholder="Ex. For Weekly Foods"
            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm ">
        </mat-form-field>
      </div>
      <div *ngIf="errorMessage" class="text-red-600 text-sm">{{ errorMessage }}</div>
      <div class="flex space-x-4">
        <button type="submit" *ngIf="showSubmitButton" [disabled]="!withdrawForm.valid" class="submit-btn"
          [ngClass]="{'submit-btn-enabled': withdrawForm.valid, 'submit-btn-disabled': !withdrawForm.valid}">
          Withdraw
        </button>
        <button type="button" *ngIf="showCancelButton" (click)="openCancelConfirmationDialog()" class="cancel-btn bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded-md shadow-md focus:outline-none focus:ring focus:ring-gray-300">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
