<div class="wallet">
  <mat-progress-bar class="w-full" mode="indeterminate" *ngIf="showProgressBar"></mat-progress-bar>
  <nav class="top-nav-container flex justify-center">
    <a [routerLink]="['/dashboard', { outlets: { contentOutlet: ['wallet', 'add'] } }]"
      class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md shadow-md focus:outline-none focus:ring focus:ring-blue-300 inline-block mb-4">
      <i class="fas fa-wallet mr-2"></i> Add Wallet
    </a>

    <a [routerLink]="['/dashboard', { outlets: { contentOutlet: ['wallet', 'transfer'] } }]"
      class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md shadow-md focus:outline-none focus:ring focus:ring-blue-300 inline-block mb-4">
      <i class="fas fa-wallet mr-2"></i> Transfer Fund
    </a>
  </nav>
  <div *ngIf="errorMessage" class="text-red-600 text-sm">{{ errorMessage }}</div>
  <div class="wallet-list grid gap-6 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    <div *ngFor="let wallet of wallets" class="wallet-container bg-gray-600 rounded-lg shadow-md">
      <div class="p-6 text-white" >
        <div class="text-lg font-semibold mb-4 text-white">{{ wallet.wallet_name }}</div>
        <div class="border-t border-blue-200 pt-4">
          <div class="mb-2">
            <span class="font-semibold text-white">Balance:</span>
            <span class="text-white"> {{ wallet.balance | currency: 'PHP': 'symbol': '1.2-3'}}</span>
          </div>
          <div>
            <span class="font-semibold text-white">Wallet Description:</span>
            <span class="text-white"> {{ wallet.wallet_desc }}</span>
          </div>
        </div>
        <div class="flex justify-between mt-4">
          <button (click)="onView(wallet.wallet_id)" class="action-btn bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md shadow-md focus:outline-none focus:ring focus:ring-blue-300">
            View
          </button>
          <button (click)="openDeleteConfirmationDialog(wallet.wallet_id)" class="action-btn bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded-md shadow-md focus:outline-none focus:ring focus:ring-red-300">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
