<div class="flex">
  <mat-progress-bar class="w-full" mode="indeterminate" *ngIf="showProgressBar"></mat-progress-bar>
  <div *ngIf="errorMessage" class="text-red-600 text-sm">{{ errorMessage }}</div>
  <div class="flex-1" *ngFor="let friend of friends">
    <div class="border border-black">
      <div *ngIf="friend" class="friend-container p-4">
        <div class="mb-2 font-bold">{{ friend.username }}</div>
        <div class="mb-2">{{ friend.firstName }}</div>
        <div class="mb-2">{{ friend.middleName }}</div>
        <div class="mb-2">{{ friend.lastName }}</div>
      </div>
      <button class="px-4 py-2 bg-blue-500 text-white rounded-r-md hover:bg-blue-600 focus:outline-none"
        (click)="onChat(friend.friendId)">
        Chat
      </button>
    </div>
  </div>
</div>
