<mat-progress-bar class="w-full" mode="indeterminate" *ngIf="showProgressBar"></mat-progress-bar>
<div class="bg-gray-800 p-6 rounded-lg shadow-md">
  <h2 class="text-2xl font-bold text-white mb-4">All Transactions</h2>
  <table class="min-w-full divide-y divide-gray-700">
    <thead>
      <tr>
        <th class="text-left py-2 text-white">Wallet Name</th>
        <th class="text-left py-2 text-white">Transaction Type</th>
        <th class="text-left py-2 text-white">Amount</th>
        <th class="text-left py-2 text-white">Description</th>
        <th class="text-left py-2 text-white">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions" class="hover:bg-gray-100">
        <td class="py-2">{{ transaction.wallet_name }}</td>
        <td class="py-2">{{ transaction.transaction_type }}</td>
        <td class="py-2">
          <span
            [ngClass]="{
              'text-green-600': transaction.transaction_type === 'Deposit',
              'text-red-600': transaction.transaction_type === 'Withdraw'
            }"
          >
            {{ transaction.transaction_type === 'Deposit' ? '+' : '-' }}
            {{ transaction.transaction_amount | currency: 'PHP': 'symbol': '1.2-3' }}
          </span>
        </td>
        <td class="py-2">{{ transaction.transaction_desc }}</td>
        <td class="py-2">{{ transaction.created_at | date:'short' }}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="errorMessage" class="text-red-600 text-sm">{{ errorMessage }}</div>
</div>
