<div *ngIf="errorMessage" class="text-red-600 text-sm">{{ errorMessage }}</div>

<div *ngFor="let confirmRequest of confirmRequests">
  <div *ngIf="confirmRequest" class="friend-container border border-black p-4">
    <div class="mb-4">
      <img [src]="getSanitizedImage(confirmRequest.profilePicture)" alt="Profile Picture" class="rounded-full w-20 h-20 object-cover">
    </div>
    <div class="mb-2 font-bold">{{ confirmRequest.username }}</div>
    <div class="mb-2">{{ confirmRequest.firstName }}</div>
    <div class="mb-2">{{ confirmRequest.middleName }}</div>
    <div class="mb-2">{{ confirmRequest.lastName }}</div>

    <button (click)="onConfirm(confirmRequest.friendId)" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none">
      Confirm
    </button>
    <button (click)="onDecline(confirmRequest.friendId)" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none">
      Decline
    </button>
  </div>
</div>

