@media screen and (max-width: 425px) {
  .dashboard {
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .top-nav {
    order: 1;
  }

  .main-content {
    border: 1px solid black;
    flex: 1 0 0%;
  }
}
