<div class="fixed z-10 inset-0 overflow-y-auto">
  <div class="flex items-center justify-center">
    <div class="bg-white p-8 rounded shadow-lg w-auto">
      <h2 mat-dialog-title class="text-lg font-semibold mb-4">Confirm Logout</h2>
      <mat-dialog-content>
        <p class="mb-4">Are you sure you want to logout?</p>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close class="mr-2 px-4 py-2 text-sm text-gray-500 rounded focus:outline-none">No</button>
        <button mat-button color="primary" [mat-dialog-close]="true" class="px-4 py-2 text-sm text-white bg-blue-500 rounded hover:bg-blue-600 focus:outline-none">Yes</button>
      </mat-dialog-actions>
    </div>
  </div>
</div>
