<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full bg-white rounded-lg shadow-md p-8 space-y-6">
    <h2 class="text-center text-3xl font-extrabold text-gray-900">Add Wallet</h2>
    <form class="flex flex-col space-y-6" [formGroup]="addWalletForm" (ngSubmit)="onSubmit()">
      <div class="flex flex-col w-full space-y-4">
          <mat-form-field class="example-full-width">
            <mat-label class="text-gray-700">Wallet Name</mat-label>
            <input type="text" matInput [formControl]="wallet_name" [errorStateMatcher]="matcher"
              placeholder="Ex. Physical Wallet" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm ">
            <mat-error *ngIf="wallet_name.hasError('required')" class="text-red-600">Wallet Name is <strong>required</strong></mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label class="text-gray-700">Wallet Description</mat-label>
            <input type="text" matInput [formControl]="wallet_desc" [errorStateMatcher]="matcher"
              placeholder="Ex. This monitors my physical wallet"
              class="mt-1 block w-full rounded-md border-gray-300 shadow-sm ">
          </mat-form-field>
      </div>
      <div *ngIf="errorMessage" class="text-red-600 text-sm">{{ errorMessage }}</div>
      <div class="flex justify-center space-x-4"> <!-- Centering the buttons and providing space -->
        <button type="submit" [disabled]="!addWalletForm.valid" class="submit-btn"
          [ngClass]="{'submit-btn-enabled': addWalletForm.valid, 'submit-btn-disabled': !addWalletForm.valid}">
          Add
        </button>
        <button (click)="openCancelConfirmationDialog()" class="cancel-btn bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded-md shadow-md focus:outline-none focus:ring focus:ring-gray-300">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
