<div class="text-5xl font-bold m-2">
  <h1>Transfer on Friend's Wallet</h1>
</div>

<div>
  <div class="flex w-full justify-around">
    <div *ngIf="wallets.length > 1" class="flex flex-col w-full m-2">
      <div class="bg-gray-800 rounded-lg shadow-md p-2 m-1">
        <h1 class="text-white">Transfer From:</h1>
      </div>
      <div *ngFor="let wallet of wallets" class="wallet-container bg-gray-800 rounded-lg shadow-md m-1 p-4">
        <div class="p-6">
          <div class="text-lg font-semibold mb-4 text-white">{{ wallet.wallet_name }}</div>
          <div class="border-t border-blue-200 pt-4">
            <div class="mb-2">
              <span class="font-semibold text-white">Balance:</span>
              <span class="text-white">{{ wallet.balance | currency: 'PHP': 'symbol': '1.2-3'}}</span>
            </div>
            <div>
              <span class="font-semibold text-white">Wallet Description:</span>
              <span class="text-white">{{ wallet.wallet_desc }}</span>
            </div>
          </div>
          <div class="flex justify-between mt-4">
            <button
            *ngIf="wallet.wallet_id !== transferFromId"
            (click)="onFromSelect(wallet.wallet_id)"
            [disabled]="wallet.wallet_id === transferToId"
            class="action-btn bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md shadow-md focus:outline-none focus:ring focus:ring-blue-300">
              Select
            </button>
            <button
            *ngIf="wallet.wallet_id === transferFromId"
            (click)="onDeselectFrom()"
            class="action-btn bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md shadow-md focus:outline-none focus:ring focus:ring-blue-300">
              Deselect
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="wallets.length > 1" class="flex flex-col w-full m-2">
      <div class="bg-gray-800 rounded-lg shadow-md p-2 m-1">
        <h1 class="text-white">Transfer To:</h1>
      </div>
      <div class="flex-1" *ngFor="let friend of friends">
        <div class="border border-black">
          <div *ngIf="friend" class="friend-container p-4">
            <div class="mb-4">
              <img [src]="getSanitizedImage(friend.profilePicture)" alt="Profile Picture" class="rounded-full w-20 h-20 object-cover">
            </div>
            <div class="mb-2 font-bold">{{ friend.username }}</div>
            <div class="mb-2">{{ friend.firstName }}</div>
            <div class="mb-2">{{ friend.middleName }}</div>
            <div class="mb-2">{{ friend.lastName }}</div>
          </div>
          <button class="px-4 py-2 bg-blue-500 text-white rounded-r-md hover:bg-blue-600 focus:outline-none"
            >
            Transfer
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="wallets.length < 2" class="text-white"><h1>Must Have 2 Wallets</h1></div>
</div>
